@font-face {
    font-family: 'Consolas';
    src: url('/Consolas.ttf');
}

@font-face {
    font-family: 'ConsolasBold';
    src: url('/ConsolasBold.ttf');
}


@font-face {
    font-family: 'ConsolasItalic';
    src: url('/ConsolasItalic.ttf');
}

.syntax-text-area {
    -fx-font: 16px 'Consolas';
}

.syntax-text-area .gutter .note {
    -fx-pref-width: 16px;
    -fx-cursor: HAND;
}

.syntax-text-area .gutter .error {
    -fx-graphic: url("errorLink.png");
}

.syntax-text-area .lineno .text {
    -fx-font-style: normal;
}

.syntax-text-area .context-menu .text {
    -fx-fill: #202020;
    -fx-font: 12px 'Consolas';
}

.styled-text-area .caret {
    -fx-stroke-width: 2px;
}

.code-area-popup {
    -fx-font: 14px 'Consolas';

    -fx-background-insets: 0;
    -fx-focus-color: -fx-control-inner-background;
    -fx-faint-focus-color: -fx-control-inner-background;
}