[submodule "3rd-party/RichTextFX"]
	path = 3rd-party/RichTextFX
	url = https://github.com/TomasMikula/RichTextFX
[submodule "3rd-party/jphp"]
	path = 3rd-party/jphp
	url = https://github.com/jphp-compiler/jphp
[submodule "jphp-zip-ext"]
	path = jphp-zip-ext
	url = https://github.com/jphp-compiler/jphp-zip-ext.git
[submodule "3rd-party/wizard-framework"]
	path = 3rd-party/wizard-framework
	url = https://github.com/jphp-compiler/wizard-framework.git
