[submodule "-f"]
	path = develnext-control
	url = git@bitbucket.org:develnext/develnext-control.git
[submodule "3rd-party/RichTextFX"]
	path = 3rd-party/RichTextFX
	url = https://github.com/TomasMikula/RichTextFX
[submodule "3rd-party/jphp"]
	path = 3rd-party/jphp
	url = https://github.com/jphp-compiler/jphp
[submodule "3rd-party/DockFX"]
	path = 3rd-party/DockFX
	url = https://github.com/develnext/DockFX
[submodule "jphp-zip-ext"]
	path = jphp-zip-ext
	url = https://github.com/jphp-compiler/jphp-zip-ext.git
