*.class

# Package Files #
*.war
*.ear
*.iml
*.ipr
*.iws
/api/
/classes/
/build/
/lib/
/out/
.idea/
settings.xml

/.gradle/

build/

gradle.properties
secret.asc

package.github.yml
package.hub.yml
package-lock.php.yml

vendor/

develnext/misc/library/bundles/*/*.jar

out/
