/*******************************************************************************
 *                                                                             *
 * Hyperlink                                                                   *
 *                                                                             *
 ******************************************************************************/

.hyperlink {
    -fx-padding: 0; /*0.166667em 0.25em 0.166667em 0.25em;*/ /* 2 3 2 3 */
    -fx-cursor: hand;
    -fx-content-display: LEFT;
    -fx-text-fill: -fx-text-background-color;
    -fx-border-color: transparent;
    -fx-border-width: 0px;
}
.hyperlink,
.hyperlink:hover,
.hyperlink:hover:visited {
    -fx-text-fill: -fx-accent;
}
.hyperlink:armed,
.hyperlink:visited,
.hyperlink:hover:armed {
    -fx-text-fill: -fx-accent;
}
.hyperlink:hover,
.hyperlink:hover:visited {
    -fx-underline: true;
}

.hyperlink:visited,
.hyperlink:visited:armed {
    -fx-underline: false;
}
.hyperlink:focused {
    -fx-border-style: segments(0.166667em, 0.166667em);
    -fx-border-width: 0px;
}
.hyperlink:show-mnemonics > .mnemonic-underline {
    -fx-stroke: -fx-text-fill;
}

.flat-button {
    -fx-cursor: hand;
}

.tooltip {
    -fx-font-size: 1em;
}

.combo-box > .list-cell:hover {
    -fx-background-insets: 1 -3 1 1, 1 -2 1 1 ;
    -fx-background-color: gray;
}