.root {
}

.flat-button { -fx-background-color: white; }
.flat-button:hover { -fx-background-color: #ececec; }

/* icons .. */
.icon-flat-edit { -fx-graphic: url("/.data/img/icons/flatEdit16.png"); }
.icon-flat-delete { -fx-graphic: url("/.data/img/icons/flatDelete16.png"); }
.icon-flat-gallery { -fx-graphic: url("/.data/img/icons/flatGallery16.png"); }
.icon-flat-refresh { -fx-graphic: url("/.data/img/icons/flatRefresh16.png"); }
.icon-flat-account { -fx-graphic: url("/.data/img/icons/account16.png"); }
.icon-flat-search { -fx-graphic: url("/.data/img/icons/flatSearch16.png"); }

.icon-exit { -fx-graphic: url("/.data/img/icons/exit16.png"); }
.icon-exit32 { -fx-graphic: url("/.data/img/icons/exit32.png"); }

.icon-ok { -fx-graphic: url("/.data/img/icons/ok16.png"); }
.icon-ok32 { -fx-graphic: url("/.data/img/icons/ok32.png"); }

.icon-run { -fx-graphic: url("/.data/img/icons/run16.png"); }

.icon-plus { -fx-graphic: url("/.data/img/icons/plus16.png"); }
.icon-add { -fx-graphic: url("/.data/img/icons/add16.png"); }
.icon-delete { -fx-graphic: url("/.data/img/icons/delete16.png"); }
.icon-clear { -fx-graphic: url("/.data/img/icons/clear16.png"); }

.icon-copy { -fx-graphic: url("/.data/img/icons/copy16.png"); }
.icon-edit { -fx-graphic: url("/.data/img/icons/edit16.png"); }
.icon-settings { -fx-graphic: url("/.data/img/icons/settings16.png"); }
.icon-blocks { -fx-graphic: url("/.data/img/icons/blocks16.png"); }
.icon-vk { -fx-graphic: url("/.data/img/icons/vk16.png"); }
.icon-login { -fx-graphic: url("/.data/img/icons/login16.png"); }
.icon-green-document { -fx-graphic: url("/.data/img/icons/greenDocument16.png"); }
.icon-red-document { -fx-graphic: url("/.data/img/icons/redDocument16.png"); }
.icon-rabbit-food { -fx-graphic: url("/.data/img/icons/rabbitFood16.png"); }
.icon-download-ext { -fx-graphic: url("/.data/img/icons/downloadExt16.png"); }
.icon-youtube { -fx-graphic: url("/.data/img/icons/youtube16.png"); }
.icon-convert { -fx-graphic: url("/.data/img/icons/convert16.png"); }
.icon-trash { -fx-graphic: url("/.data/img/icons/trash16.png"); }
.icon-trash2 { -fx-graphic: url("/.data/img/icons/trash16.gif"); }
.icon-php { -fx-graphic: url("/.data/img/icons/phpFile16.png"); }
.icon-share { -fx-graphic: url("/.data/img/icons/share16.png"); }
.icon-share-ex { -fx-graphic: url("/.data/img/icons/shareEx16.png"); }
.icon-upload { -fx-graphic: url("/.data/img/icons/upload16.png"); }
.icon-library { -fx-graphic: url("/.data/img/icons/library16.png"); }
.icon-square { -fx-graphic: url("/.data/img/icons/square16.png"); }

.icon-refresh { -fx-graphic: url("/.data/img/icons/refresh16.png"); }
.icon-refresh32 { -fx-graphic: url("/.data/img/icons/refresh32.png"); }

.icon-open { -fx-graphic: url("/.data/img/icons/open16.png"); }
.icon-open32 { -fx-graphic: url("/.data/img/icons/open32.png"); }

.icon-new { -fx-graphic: url("/.data/img/icons/new16.png"); }
.icon-new32 { -fx-graphic: url("/.data/img/icons/new32.png"); }

.button { -fx-cursor: hand; }

.dn-add-tab-button {
}

.list-view .list-cell:filled:selected:focused, .list-view .list-cell:filled:selected {
    -fx-background-color: silver;
    -fx-cursor: hand;
}

.list-view.dn-simple-list:filled:selected:focused, .list-view.dn-simple-list .list-cell:filled:selected {
    -fx-background-color: white;
    -fx-cursor: default;
}

.list-view.dn-simple-list .list-cell:odd {
    -fx-cell-hover-color: white;
    -fx-background-color: white;
}


.small-checkbox { -fx-label-padding: 0.0em 0.0em 0.0em 0.0em; }
.small-checkbox .mark { -fx-padding: 0.26em; -fx-background-radius: 0, 0, 0, 0; }

.dn-list-item { -fx-border-color: silver; -fx-cursor: hand; -fx-background-color: white; }
.dn-list-item:hover { -fx-border-color: red; }

.dn-list-menu { -fx-background-insets: 0; -fx-focus-color: -fx-control-inner-background; -fx-faint-focus-color: -fx-control-inner-background; }
.dn-list-menu-title { -fx-font-weight: bold; -fx-padding: 0; -fx-text-fill: #131313; }
.dn-list-menu-description { -fx-text-fill: gray; }
.dn-list-menu-count { -fx-background-color: gray; -fx-text-fill: white; -fx-font-weight: bold; -fx-padding: 2px 5px; -fx-background-radius: 3px; }

.flow-list-view { -fx-background-color: white; }
.flow-list-view .list-cell { -fx-cursor: hand; -fx-border-width: 1px; -fx-border-color: transparent; }
.flow-list-view .list-cell.selected { -fx-background-color: #dcdcdc; }
.flow-list-view .list-cell.hovered { -fx-border-color: gray; }
.flow-list-view .list-cell.dragged { -fx-border-color: red; -fx-border-style: dotted; }

.dn-list-hint { -fx-text-fill: silver; -fx-font-style: italic; -fx-font-size: 1.6em; -fx-padding: 20px; }

.dn-title { -fx-font-style: italic; -fx-font-size: 1.6em; -fx-padding: 20px; }

.dn-simple-toggle-button:hover { -fx-background-color: #cce6fe; -fx-border-color: #5a71a7; }
.dn-simple-toggle-button:selected { -fx-background-color: silver; -fx-border-color: gray; }
.dn-simple-toggle-button, .dn-simple-button { -fx-background-color: white; -fx-border-color: silver; -fx-border-width: 1px; -fx-cursor: hand; }

.dn-simple-button { -fx-border-radius: 3px; }

.dn-console-list {
    -fx-font: 14px "Consolas";
    -fx-line-spacing: 30px;
}

.account-menu {
    -fx-padding: 5px;
}

.account-menu-item {
    -fx-padding: 4px 5px;
    -fx-cursor: hand;;
}

.point-marker {
    -fx-border-color: red;
}

.tab-pane.dn-style
{
    -fx-tab-min-width: 120px;
}

.tab-pane.dn-style .tab-header-area .tab-header-background {
    -fx-background-color: transparent;
}

.tab-pane.dn-style .tab-content-area {
    -fx-border-width: 1px;
    -fx-border-color: silver;
}

.list-view.hide-hor-scroll .scroll-bar:horizontal .increment-arrow,
.list-view.hide-hor-scroll .scroll-bar:horizontal .decrement-arrow,
.list-view.hide-hor-scroll .scroll-bar:horizontal .increment-button,
.list-view.hide-hor-scroll .scroll-bar:horizontal .decrement-button {
    -fx-padding:0;
}

.dn-web {
    -fx-background-color: white;
}

.scroll-pane.dn-web > .viewport {
    -fx-background-color: transparent;
}

.doc-entry {
    -fx-padding: 5px 10px;
    -fx-background-color: #fafafa;
    -fx-border-width: 0 0 1px 0;
    -fx-border-color: silver;
}

.doc-entry .description {
    -fx-text-fill: gray;
    -fx-font-size: 12px;
    -fx-font-style: italic !important;
}