/* icons .. */
.icon-exit { -fx-graphic: url("/.data/img/icons/exit16.png"); }
.icon-exit32 { -fx-graphic: url("/.data/img/icons/exit32.png"); }

.icon-ok { -fx-graphic: url("/.data/img/icons/ok16.png"); }
.icon-ok32 { -fx-graphic: url("/.data/img/icons/ok32.png"); }

.icon-run { -fx-graphic: url("/.data/img/icons/run16.png"); }

.icon-plus { -fx-graphic: url("/.data/img/icons/plus16.png"); }

.icon-copy { -fx-graphic: url("/.data/img/icons/copy16.png"); }
.icon-settings { -fx-graphic: url("/.data/img/icons/settings16.png"); }
.icon-blocks { -fx-graphic: url("/.data/img/icons/blocks16.png"); }
.icon-vk { -fx-graphic: url("/.data/img/icons/vk16.png"); }
.icon-login { -fx-graphic: url("/.data/img/icons/login16.png"); }

.icon-refresh { -fx-graphic: url("/.data/img/icons/refresh16.png"); }
.icon-refresh32 { -fx-graphic: url("/.data/img/icons/refresh32.png"); }

.icon-open { -fx-graphic: url("/.data/img/icons/open16.png"); }
.icon-open32 { -fx-graphic: url("/.data/img/icons/open32.png"); }

.icon-new { -fx-graphic: url("/.data/img/icons/new16.png"); }
.icon-new32 { -fx-graphic: url("/.data/img/icons/new32.png"); }

.button {
    -fx-cursor: hand;
}

.list-cell .for-selected {
    -fx-pref-width: 0;
    -fx-pref-height: 0;
    -fx-padding: 0;
    -fx-content-display: graphic-only;
}

.list-cell:filled:selected:focused, .list-cell:filled:selected {
    -fx-background-color: silver;
    -fx-text-fill: white;
    -fx-cursor: hand;
}

.list-cell:filled:selected:focused .for-selected, .list-cell:filled:selected .for-selected {
    -fx-pref-width: inherit;
    -fx-padding: inherit;
    -fx-content-display: center;
}

.list-cell:even { /* <=== changed to even */
    -fx-background-color: white;
}

/** ############### */

.form-editor .image-view {
    -fx-border-width: 1px;
    -fx-border-color: gray;
    -fx-border-style: dashed;
}