.syntax-text-area {
    -fx-background-color: #F7FAFF;
    -fx-cursor: text;
}

.syntax-text-area .paragraph-box:has-caret {
    -fx-background-color: #fffae3;
}

.syntax-text-area .text {
    -fx-fill: #000000;
}

.syntax-text-area .gutter .lineno {
    -fx-text-fill: #810202;
    -fx-fill: #810202;
    -fx-background-fill: #810202;
}

.syntax-text-area .gutter {
    -fx-background-color: #f0f0f0;

    -fx-border-color: #d0d0d0;
    -fx-border-width: 0 1px 0 0;

    -fx-padding: 0 3 0 3;
}

.syntax-text-area .caret {
    -fx-stroke: black;
}

/*.syntax-text-area .text.control, .syntax-text-area .text.operator, .syntax-text-area .text.semicolon {
    -fx-fill: #CC7832;
}*/

.syntax-text-area .text.comment {
    -fx-fill: #818181;
    -fx-font-style: italic;
}

.syntax-text-area .text.keyword {
    -fx-fill: #000080;
    -fx-font-weight: bold;
}

.syntax-text-area .text.string {
    -fx-fill: #008000;
}

.syntax-text-area .text.number {
    -fx-fill: #0000FF;
}

.syntax-text-area .text.variable {
    -fx-fill: #660000;
    /*-fx-font-weight: bold;*/
}

/*.syntax-text-area .text.label {
    -fx-fill: #A9B7C6;
}*/